<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004625432080-k274kn4t8h92h76st8dsekldbharbjva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004625432080-k274kn4t8h92h76st8dsekldbharbjva</string>
	<key>API_KEY</key>
	<string>AIzaSyDfYIcuBUQ6dWqGljiMSp47KSITxhlafXU</string>
	<key>GCM_SENDER_ID</key>
	<string>1004625432080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestApp</string>
	<key>PROJECT_ID</key>
	<string>zalo-290b7</string>
	<key>STORAGE_BUCKET</key>
	<string>zalo-290b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004625432080:ios:6693965a2dde06344bc495</string>
</dict>
</plist>